body {
  margin: 0;
  padding: 0;
  top: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper.user_login {
  background-color: #f1f1e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.user_login h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #81b214;
}

.wrapper.user_login form {
  width: 50vw;
}

.wrapper.user_login form .input_field:nth-of-type(1) {
  margin-bottom: 3vh;
}

.wrapper.user_login form .input_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.wrapper.user_login form .input_field i.material-icons {
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bfdcae;
  color: white;
}

.wrapper.user_login form .input_field input:focus {
  outline: none;
}

.wrapper.user_login form .input_field input {
  width: calc(100% - 15px);
  height: 100%;
  background-color: #bfdcae;
  border: none;
  padding: 0 0 0 15px;
}

.wrapper.user_login form .input_field input::-webkit-input-placeholder {
  color: white;
}

.wrapper.user_login form .input_field input:-ms-input-placeholder {
  color: white;
}

.wrapper.user_login form .input_field input::-ms-input-placeholder {
  color: white;
}

.wrapper.user_login form .input_field input::placeholder {
  color: white;
}

.wrapper.user_login form button {
  background-color: #81b214;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
  margin-top: 2.5vh;
  height: 5vh;
  border-radius: 5px;
  font-family: "Roboto", cursive;
  font-size: 2em;
}

.wrapper.admin {
  width: 100%;
  height: 400px;
  background-color: #81b214;
}

.wrapper.admin .school {
  width: 200px;
  height: 100px;
  background-color: red;
  margin-left: 400px;
}

.wrapper.admin .school button {
  background-color: blue;
  border: 0px;
  width: 50%;
  height: 33%;
  margin-bottom: 0px;
}

.wrapper.general main.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}

.wrapper.general main.general h1 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto", cursive;
  color: #81b214;
}

.wrapper.general main.general h1.title {
  margin: 5vh 0 2.5vh 0;
  font-size: 2em;
}

.wrapper.general main.general h1.groups {
  margin: 0 0 2.5vh 0;
  font-size: 1.5em;
}

.wrapper.general main.general main.specified_groups {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper.general main.general main.specified_groups aside.group h1, .wrapper.general main.general main.specified_groups aside.teacher_group h1 {
  grid-row: span 2;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper.general main.general main.specified_groups aside.group h2, .wrapper.general main.general main.specified_groups aside.teacher_group h2 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: white;
}

.wrapper.general main.general main.specified_groups aside.group .lower, .wrapper.general main.general main.specified_groups aside.teacher_group .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #81b214;
}

.wrapper.general main.general main.specified_groups aside.group .lower p, .wrapper.general main.general main.specified_groups aside.teacher_group .lower p {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.wrapper.general main.general main.specified_groups aside.group {
  width: 200px;
  height: 200px;
  background-color: #bfdcae;
  margin: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  font-family: "Roboto", cursive;
}

.wrapper.general main.general main.specified_groups aside.teacher_group {
  width: 200px;
  height: 200px;
  background-color: #bfdcae;
  margin: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  font-family: "Roboto", cursive;
}

header {
  height: 10vh;
  width: calc(100vw - 20vw);
  padding: 0 10vw 0 10vw;
  background-color: #81b214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", cursive;
}

header h1 {
  margin: 0;
  color: white;
}

header i.material-icons {
  margin: 0 2vw 0 auto;
  color: white;
  font-size: 2em;
}

header .name_box, header .user_action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(100% - 5vh);
  padding: 1.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .name_box h3, header .user_action h3 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .user_action h3 {
  color: white;
}

header .name_box {
  background-color: #bfdcae;
  color: white;
}

main.school_popup {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.school_popup form {
  width: 20%;
  height: 20%;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blurred {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}
/*# sourceMappingURL=pluggy.css.map */