$main-font: 'Roboto', cursive;

body{
    margin: 0;
    padding: 0;
    top: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.wrapper.user_login{
    background-color: #f1f1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        width: fit-content;
        height: fit-content;
        color: #81b214;
    }

    form{
        width: 50vw;


        .input_field:nth-of-type(1){
            margin-bottom: 3vh;
        }

        .input_field{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            i.material-icons{
                height: 100%;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #bfdcae;
                color: white;
            }

            input:focus{
                outline: none;
            }

            input{
                width: calc(100% - 15px);
                height: 100%;
                background-color: #bfdcae;
                border: none;
                padding: 0 0 0 15px
            }
        
            input::placeholder{
                color: white;
            }
        }

        button{
            background-color: #81b214;
            width: 75%;
            margin: 0 12.5% 0 12.5%;
            margin-top: 2.5vh;
            height: 5vh;
            border-radius: 5px;
            font-family: $main-font;
            font-size: 2em;
        }
    }

}

.wrapper.admin{

width: 100%;
height: 400px;
background-color: #81b214;

    .school {
        width: 200px;
        height: 100px;
        background-color: red;
        margin-left: 400px;


    button {
            background-color: blue;
            border: 0px;
            width: 50%;
            height: 33%;
            margin-bottom: 0px;
            
        }
    }   

}